<!DOCTYPE html>
<html ng-app="app" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Stack-Feed</title>
    <link href="build/bootstrap.min.css" rel="stylesheet" />
    <link href="build/toastr.min.css" rel="stylesheet" />
    <link href="build/select2.css" rel="stylesheet" />
    <link href="src/css/site.css" rel="stylesheet" />
</head>
<body>
    <div ng-include src="'src/partials/header.html'"></div>
    <div class="container" ng-controller="GridController">
        <!-- Parameters -->
        <div>
            <form name="parametersForm" class="form-horizontal" role="form">
                <div class="alert alert-danger" ng-if="noQueryInput">
                    <strong>Error!</strong> Nothing to query on.
                </div>
                <div class="form-group" ng-class="{'has-error': parametersForm.query.$error.minlength || parametersForm.query.$error.maxlength}">
                    <label for="query" class="col-lg-1 control-label">In Title</label>
                    <div class="col-lg-11">
                        <input type="text" name="query" id="query" class="form-control" ng-model="parameters.query" ng-minlength="2" ng-maxlength="50"
                               placeholder="Text included in the title of a question">
                    </div>
                </div>
                <div class="row">
                    <label for="includedTags" class="col-lg-offset-1 col-lg-6">Included Tags</label>
                    <div class="col-lg-1"></div>
                    <label for="excludedTags" class="col-lg-4">Excluded Tags</label>
                </div>
                <div class="form-group">
                    <label class="col-lg-1 control-label">Tags</label>
                    <select class="col-lg-6" id="includedTags" ui-select2="tagOptions" multiple ng-model="parameters.includedTags">
                        <option ng-repeat="tag in tags.stackoverflow" value="{{tag.name}}">{{tag | tag}}</option>
                    </select>
                    <div class="col-lg-1"></div>
                    <select class="col-lg-4" id="excludedTags" ui-select2="tagOptions" multiple ng-model="parameters.excludedTags">
                        <option ng-repeat="tag in tags.stackoverflow" value="{{tag.name}}">{{tag | tag}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="sort" class="col-lg-1 control-label">Sort</label>
                    <div class="col-lg-2">
                        <select class=" form-control" id="sort" ng-model="parameters.sort">
                            <option value="creation">Creation Date</option>
                            <option value="votes">Votes</option>
                            <option value="activity">Last Activity Date</option>
                            <option value="relevance">Relevance</option>
                        </select>
                    </div>
                    <div class="col-lg-1">
                        <label class="radio inline">
                            <input type="radio" name="sortOrder" value="asc" ng-model="parameters.sortOrder" />
                            Ascending
                        </label>
                    </div>
                    <div class="col-lg-1">
                        <label class="radio inline">
                            <input type="radio" name="sortOrder" value="desc" ng-model="parameters.sortOrder" />
                            Descending
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-offset-1 col-lg-11">
                        <button class="btn btn-primary" ng-if="!feedOn && !initialized" ng-click="initializeFeed()">Initialize Feed</button>
                        <button class="btn btn-primary" ng-if="feedOn" ng-click="updateFeed()">Update Feed</button>
                        <button class="btn btn-success" ng-click="search()">Search</button>
                    </div>
                </div>
            </form>
        </div>

        <!-- Grid -->
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <div class="btn-group pull-right">
                    <button class="btn btn-sm" ng-class="{'btn-success': feedOn, 'btn-default': !feedOn}" ng-click="feedOn = true" ng-disabled="!initialized">On</button>
                    <button class="btn btn-sm" ng-class="{'btn-danger': !feedOn, 'btn-default': feedOn}" ng-click="feedOn = false" ng-disabled="!initialized">Off</button>
                </div>
                <div class="pull-right" style="margin-right: 20px; margin-top: 5px;">
                    <span>Update Interval Mins: </span><input type="number" ng-model="updateIntervalMins" style="width: 35px;">
                </div>
                <span class="pull-right" ng-show="feedOn" style="margin-right: 20px; margin-top: 5px;">
                    Next Update: <countdown-timer on="feedOn" start-seconds="updateIntervalMins * 60" auto-restart="true" countdown-expired="reloadQuestions()"></countdown-timer>
                </span>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Tags</th>
                        <th class="text-center">Answered</th>
                        <th class="text-center">Answer Count</th>
                        <th class="text-center">View Count</th>
                        <th class="text-center">Votes</th>
                        <th class="text-center">Owner Reputation</th>
                        <th class="text-center">Accept Rate</th>
                    </tr>
                </thead>
                <tr ng-repeat="question in questions" ng-class="{danger: questionPreviouslyViewed(question.question_id)}">
                    <td><a ng-bind-html="question.title" ng-click="openQuestion(question)"></a></td>
                    <td ng-bind="question.tags"></td>
                    <td class="text-center"><span ng-show="question.is_answered" class="glyphicon glyphicon-ok icon-success"></span></td>
                    <td class="text-center"><span ng-show="question.answer_count" ng-bind=" question.answer_count | number"></span></td>
                    <td class="text-center"><span ng-show="question.view_count" ng-bind=" question.view_count | number"></span></td>
                    <td class="text-center"><span ng-show="question.score" ng-bind="question.score | number"></span></td>
                    <td class="text-center"><span ng-show="question.owner.reputation" ng-bind=" question.owner.reputation | number"></span></td>
                    <td class="text-center"><span ng-show="question.owner.accept_rate" ng-bind="question.owner.accept_rate + '%'"></span></td>
                </tr>
            </table>
        </div>
    </div>

    <!-- Vendor Scripts -->
    <!--<script src='https://api.stackexchange.com/js/2.0/all.js'></script>-->
    <script src="build/jquery.min.js"></script>
    <script src="build/underscore.js"></script>
    <script src="build/toastr.min.js"></script>
    <script src="build/select2.min.js"></script>
    <script src="build/angular.min.js"></script>
    <script src="build/ui-bootstrap.min.js"></script>
    <script src="build/ui-bootstrap-tpls.min.js"></script>
    <script src="build/angular-sanitize.min.js"></script>
    <script src="build/select2.min.js"></script>

    <!-- Bootstrapping -->
    <script src="src/js/app.js"></script>

    <!-- controllers -->
    <script src="src/js/controllers/GridController.js"></script>
    <script src="src/js/controllers/HeaderController.js"></script>

    <!-- app Filters -->
    <script src="src/js/filters/tag.js"></script>

    <!-- app Services -->
    <script src="src/js/services/identity.js"></script>
    <script src="src/js/services/stackProxy.js"></script>
    <script src="src/js/services/dataContext.js"></script>
    <script src="src/js/services/notifier.js"></script>

    <!-- app Directives -->
    <script src="src/js/directives/countdownTimer.js"></script>
    <!--<script type='text/javascript'>
        SE.init({
            clientId: 2874,
            key: 'fFGxJHjVNmw4u*YZqKNLlw((',
            channelUrl: 'http://localhost:2428/src/blank.html',
            complete: function (data) { console.log(data); }
        });
    </script>-->
</body>
</html>
