<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container" ng-controller="HeaderController">
        <span class="navbar-brand">Stack-Feed</span>
        <div class="navbar-text navbar-right">
            <span ng-if="hasQuota()">Daily Quota Remaining: {{getRemainingQuota() | number}}</span>
            <a ng-if="!authenticated" ng-click="signIn()" class="navbar-link">Sign In</a>
            <span ng-if="authenticated" ng-bind="test"></span>
        </div>
    </div>
</nav>
