/* http://angular-ui.github.io/bootstrap/ */
.nav, .pagination, .carousel, .panel-title, td a {
    cursor: pointer;
}

.icon-success {
    color: #5CB85C;
}

.text-center {
    text-align: center;
}
